# Hace que Lombok marque el codigo que crea automáticamente con una etiqueta especial
# Así las herramientas de analisis y revisión saben que es codigo generado y pueden ignorarlo.
lombok.addLombokGeneratedAnnotation = true
# Copia también la anotación @Value, es util para la configuración de Spring
#siga funcionado en el codgio generado.
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value